;; 2013.01.21
;; yasushisakai
;;
;; gitignore for Django using pyCharm
;;

;;files to ignore

;;extensions to ignore
*.log
*.pot
*.pyc

;;directories to ignore
.idea/

static/uploads/
Core/Account/migrations/
Core/Cars/migrations/
Core/Chat/migrations/
Core/Notifications/migrations/
Core/Routes/migrations/
Core/Studies/migrations/
