{% extends 'Base/base_app_not_container.html' %}
{% load static %}

{% block content_main %}
    <div class="row">
        <div class="12u">
            <a class="button small" href="{% url 'Home:admin_panel' %}" style="margin-left: 50px">
                Atr&aacute;s
            </a>
        </div>
    </div>
    <div class="row">
        <div class="12u">
            <section class="box">
                <h4>Licenciaturas registradas</h4>
                <br>

                <div class="row uniform 50%">
                    <div class="6u 12u(mobilep)">
                            <div class="select-wrapper">
                                <select name="campus" id="campus">
                                    <option disabled>Facultad</option>
                                    {% for campus in campus %}
                                        <option value="{{ campus.pk }}">{{ campus.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    <div class="6u 12u(mobilep)">
                        <input type="text" name="major" id="major" value="" placeholder="Licenciatura"/>
                    </div>
                </div>
                <div class="row uniform 50%">
                    <div class="6u 12u(mobilep)">
                        <button class="button small special" onclick="addMajor()">Agregar</button>
                    </div>
                </div>

                <br>
                {% if majors %}
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Facultad</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for major in majors %}
                                <tr>
                                    <td>{{ major.name }}</td>
                                    <td>{{ major.campus.name }}</td>
                                    <td><a style="color: red; cursor: pointer"
                                           onclick="deleteMajor({{ major.pk }})">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p><b>No se tienen licenciaturas registradas en BlurCity</b></p>
                {% endif %}

            </section>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function addMajor() {
            var campus = $("#campus").val();
            var major = $("#major").val();

            if (major != "") {
                $.ajax({
                    url: '/administration/add_major/',  //Server script to process data
                    type: 'post',
                    success: function (data) {
                        if (data == 1) {
                            sweetAlert({
                                title: "Correcto",
                                text: "Se ha agregado la licenciatura correctamente",
                                type: "success",
                                closeOnConfirm: false
                            }, function () {
                                window.location.href = "/administration/admin_panel/major_list";
                            });
                        } else {
                            sweetAlert("Error", "Hubo un error al agregar la licenciatura, intentalo de nuevo", "error");
                        }
                    },
                    error: function (message) {
                        console.log(message);
                    },
                    // Form data
                    data: {
                        'campus_pk': campus,
                        'major_name': major
                    }
                });
            } else {
                sweetAlert("Error", "Por favor llene todos los campos para agregar la licenciatura", "error");
            }
        }

        function deleteMajor(major_pk) {
            $.ajax({
                url: '/administration/delete_major/',  //Server script to process data
                type: 'post',
                success: function (data) {
                    if (data == 1) {
                        sweetAlert({
                            title: "Correcto",
                            text: "Se ha eliminado la licenciatura correctamente",
                            type: "success",
                            closeOnConfirm: false
                        }, function () {
                            window.location.href = "/administration/admin_panel/major_list";
                        });
                    } else {
                        sweetAlert("Error", "Hubo un error al eliminar la licenciatura, intentalo de nuevo", "error");
                    }
                },
                error: function (message) {
                    console.log(message);
                },
                // Form data
                data: {
                    'major_pk': major_pk
                }
            });
        }
    </script>
{% endblock %}