{% extends 'Base/base_app_not_container.html' %}
{% load static %}

{% block content_main %}
    <div class="row">
        <div class="12u">
            <a class="button small" href="{% url 'Home:admin_panel' %}" style="margin-left: 50px">
                Atr&aacute;s
            </a>
        </div>
    </div>
    <div class="row">
        <div class="12u">
            <section class="box">
                <h4>Universidades registradas en BlurCity</h4>
                <br>

                <div class="row uniform 50%">
                    <div class="6u 12u(mobilep)">
                        <input type="text" name="university" id="university" value="" placeholder="Universidad"/>
                    </div>
                    <div class="6u 12u(mobilep)">
                        <button class="button small special" onclick="addUniversity()">Agregar</button>
                    </div>
                </div>
                <br>
                {% if universitys %}
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for university in universitys %}
                                <tr>
                                    <td>{{ university.name }}</td>
                                    <td><a style="color: red; cursor: pointer"
                                           onclick="deleteUniversity({{ user.pk }})">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p><b>No se tienen universidades registradas en BlurCity</b></p>
                {% endif %}

            </section>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function addUniversity() {
            var university = $("#university").val();

            if (university != "") {
                $.ajax({
                    url: '/administration/add_university/',  //Server script to process data
                    type: 'post',
                    success: function (data) {
                        if (data == 1) {
                            sweetAlert({
                                title: "Correcto",
                                text: "Se ha agregado la universidad correctamente",
                                type: "success",
                                closeOnConfirm: false
                            }, function () {
                                window.location.href = "/administration/admin_panel/university_list";
                            });
                        } else {
                            sweetAlert("Error", "Hubo un error al agregar la universidad, intentalo de nuevo", "error");
                        }
                    },
                    error: function (message) {
                        console.log(message);
                    },
                    // Form data
                    data: {
                        'university_name': university
                    }
                });
            } else {
                sweetAlert("Error", "Por favor escriba un nombre para la universidad", "error");
            }
        }


        function deleteUniversity(university_pk) {
            $.ajax({
                url: '/administration/delete_university/',  //Server script to process data
                type: 'post',
                success: function (data) {
                    if (data == 1) {
                        sweetAlert({
                            title: "Correcto",
                            text: "Se ha eliminado la universidad correctamente",
                            type: "success",
                            closeOnConfirm: false
                        }, function () {
                            window.location.href = "/administration/admin_panel/university_list";
                        });
                    } else {
                        sweetAlert("Error", "Hubo un error al eliminar la universidad, intentalo de nuevo", "error");
                    }
                },
                error: function (message) {
                    console.log(message);
                },
                // Form data
                data: {
                    'university_pk': university_pk
                }
            });
        }
    </script>
{% endblock %}