{% extends 'Base/base_app_not_container.html' %}
{% load static %}

{% block content_main %}
    <div class="row">
        <div class="12u">
            <a class="button small" href="{% url 'Home:admin_panel' %}" style="margin-left: 50px">
                Atr&aacute;s
            </a>
        </div>
    </div>
    <div class="row">
        <div class="12u">
            <section class="box">
                <h3>Usuarios registrados</h3>

                {% if user.user_admin_type == 0 %}
                    <h4>Administradores</h4>
                    <br>
                    {% if admin_users %}
                        <div class="table-wrapper">
                            <table class="alt">
                                <thead>
                                <tr>
                                    <th>Matrícula</th>
                                    <th>Nombre</th>
                                    <th>Correo eletr&oacute;nico</th>
                                    <th>Tipo de Administrador</th>
                                    <th>Fecha de registro</th>
                                    <th>Validado</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in admin_users %}
                                    {% if not user.is_admin %}
                                        <tr>
                                            <td>
                                                {% if user.register %}
                                                    {{ user.register }}
                                                {% else %}
                                                    N/A
                                                {% endif %}
                                            </td>
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>
                                                {% if user.type == 0 %}Administrador BlurCity{% endif %}
                                                {% if user.type == 1 %}Administrador Universidad{% endif %}
                                                {% if user.type == 2 %}Administrador Facultad{% endif %}
                                            </td>
                                            <td>{{ user.date_joined }}</td>
                                            <td>
                                                <select name="university" id="university"
                                                        onchange="changeValidateStatus({{ user.pk }})">
                                                    <option value="valid" {% if user.is_validated %}
                                                            selected {% endif %}>V&aacute;lido
                                                    </option>
                                                    <option value="invalid" {% if not user.is_validated %}
                                                            selected {% endif %}>
                                                        No v&aacute;lido
                                                    </option>
                                                </select>
                                            </td>
                                            <td><a style="color: red; cursor: pointer"
                                                   onclick="deleteUser({{ user.pk }})">Eliminar</a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p><b>No se tienen usuarios administradores</b></p>
                    {% endif %}
                {% endif %}

                <h4>Usuarios de BlurCity</h4>
                <br>

                {% if users %}
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Correo eletr&oacute;nico</th>
                                <th>Institución/Organización</th>
                                <th>Ocupación</th>
                                <th>Fecha de registro</th>
                                <th>Validado</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                {% if not user.is_admin %}
                                    <tr>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.university }}</td>
                                        <td>{{ user.major }}</td>
                                        <td>{{ user.date_joined }}</td>
                                        <td>
                                            <select name="university" id="university"
                                                    onchange="changeValidateStatus({{ user.pk }})">
                                                <option value="valid" {% if user.is_validated %} selected {% endif %}>V&aacute;lido</option>
                                                <option value="invalid" {% if not user.is_validated %}
                                                        selected {% endif %}>
                                                    No v&aacute;lido
                                                </option>
                                            </select>
                                        </td>
                                        <td><a style="color: red; cursor: pointer" onclick="deleteUser({{ user.pk }})">Eliminar</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p><b>No se tienen usuarios de BlurCity</b></p>
                {% endif %}

            </section>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function deleteUser(user_pk) {
            $.ajax({
                url: '/administration/delete_user/',  //Server script to process data
                type: 'post',
                success: function (data) {
                    if (data == 1) {
                        sweetAlert({
                            title: "Correcto",
                            text: "Se ha eliminado el usuario correctamente",
                            type: "success",
                            closeOnConfirm: false
                        }, function () {
                            window.location.href = "/administration/admin_panel/users_list";
                        });
                    } else {
                        sweetAlert("Error", "Hubo un error al eliminar al usuario, intentalo de nuevo", "error");
                    }
                },
                error: function (message) {
                    console.log(message);
                },
                // Form data
                data: {
                    'id': user_pk
                }
            });
        }

    </script>
    <script>
        function changeValidateStatus(user_pk) {
            $.ajax({
                url: '/administration/change_user_status/',  //Server script to process data
                type: 'post',
                success: function (data) {
                    if (data == 1) {
                        sweetAlert("Correcto", "Se ha cambiado el estado correctamente", "success");
                    } else {
                        sweetAlert("Error", "Hubo un error al cambiar el estado, intentalo de nuevo", "error");
                    }
                },
                error: function (message) {
                    console.log(message);
                },
                // Form data
                data: {
                    'user_pk': user_pk
                }
            });
        }

        $("#add_university").on("click", function () {
            addUniversity();
        });

        $("#add_campus").on("click", function () {
            addCampus();
        });

        $("#add_major").on("click", function () {
            addMajor();
        })
    </script>
{% endblock %}