{% extends 'Base/base_app.html' %}
{% load static %}
{% block title %}Nueva ruta{% endblock %}
{% block content_main %}
    <div class="row">
        <div class="12u">

            <!-- Form -->
            <section class="box">
                <h3>Registrar Ruta en BlurCity</h3>

                {% if user_cars %}
                    <div class="row uniform">
                        <div class="7u 12u(mobilep)">
                            <div id="map"></div>
                            <div class="12u">
                                <br>
                                <ul class="actions">
                                    <li>
                                        <button id="clean-btn" class="button">Borrar marcadores</button>
                                    </li>
                                    <li>
                                        <button id="draw-btn" class="button special">Trazar</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="5u 12u(mobilep)">
                            {% if errors %}
                                {% for error in errors %}
                                    <p class="red-text" style="color:red; padding-top: 20px">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                            <form method="post" action="{% url 'Authentication:Login' request.session.session_type %}">
                                <div class="row uniform 50%">
                                    <div class="12u 12u(mobilep)">
                                        <div class="select-wrapper">
                                            <select name="origen" id="origen">
                                                <option value="" disabled selected>Seleccione un origen de referencia
                                                </option>
                                                <option value="Centro">Centro</option>
                                                <option value="Plaza">Plaza</option>
                                                <option value="Hogar">Hogar</option>
                                                <option value="Escuela">Escuela</option>
                                                <option value="Trabajo">Trabajo</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="12u 12u(mobilep)">
                                        <div class="select-wrapper">
                                            <select name="destiny" id="destiny">
                                                <option value="0" disabled selected>Seleccione un destino</option>
                                                {% for campus in campus_list %}
                                                    <option value="{{ campus.pk }}">{{ campus.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="12u 12u(mobilep)">
                                        <div class="select-wrapper">
                                            <select name="car" id="car">
                                                <option value="" disabled selected>Seleccione un vehiculo</option>
                                                {% for car in user_cars %}
                                                    <option value="{{ car.pk }}">{{ car.brand }} {{ car.model }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="12u 12u(mobilep)">
                                        <div class="select-wrapper">
                                            <select name="sits" id="sits">
                                                <option value="0" disabled selected>Seleccione un cupo</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="12u 12u(mobilep)">
                                        <p><b>Horario</b></p>
                                        <label for="hora">Hora de inicio</label>
                                        <input id="hora" type="time" name="hora" value="">
                                    </div>
                                    <div class="row uniform 50%">
                                        <div class="6u 12u(narrower)">
                                            <input type="checkbox" id="lunes" value="Lunes" name="dia[]">
                                            <label for="lunes">Lunes</label>
                                        </div>
                                        <div class="6u 12u(narrower)">
                                            <input type="checkbox" id="martes" value="Martes" name="dia[]">
                                            <label for="martes">Martes</label>
                                        </div>
                                    </div>
                                    <div class="row uniform 50%">
                                        <div class="6u 12u(narrower)">
                                            <input type="checkbox" id="miercoles" value="Miercoles" name="dia[]">
                                            <label for="miercoles">Miercoles</label>
                                        </div>
                                        <div class="6u 12u(narrower)">
                                            <input type="checkbox" id="jueves" value="Jueves" name="dia[]">
                                            <label for="jueves">Jueves</label>
                                        </div>
                                    </div>
                                    <div class="row uniform 50%">
                                        <div class="6u 12u(narrower)">
                                            <input type="checkbox" id="viernes" value="Viernes" name="dia[]">
                                            <label for="viernes">Viernes</label>
                                        </div>
                                        <div class="6u 12u(narrower)">
                                            <input type="checkbox" id="sabado" value="Sabado" name="dia[]">
                                            <label for="sabado">S&aacute;bado</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row uniform">
                                    <div class="12u">
                                        <ul class="actions">
                                            <li><a href="{% url 'Panel:Panel' %}" class="button">Cancelar</a></li>
                                            <li><input id="guardar-btn" type="button" class="button special"
                                                       value="Registrar"/></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <h4 class="center-align">Por favor registra un automovil primero</h4>
                {% endif %}

                <hr/>

            </section>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var campus_list = [];
        {% for campus in campus_list %}
            var campus_obj = {
                "pk": {{ campus.pk }},
                "name": "{{ campus.name }}",
                "points": "{{ campus.latitude }},{{ campus.longitude }}",
                "latitude": "{{ campus.latitude }}",
                "longitude": "{{ campus.longitude }}"
            };
            campus_list.push(campus_obj);
        {% endfor %}

    </script>
    <script type="text/javascript" src="{% static 'scripts/maps.js' %}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW7jLIOGjbN7K1lle9LrUaPruKD8dv_x0&callback=initMap">
    </script>
    <script>
        var window_height = $(window).height();
        var main_content_height = $(".main").height();

        if (window_height > main_content_height) {
            var navbar_height = $("#header").height();
            var footer_height = $("#footer").height();

            $("#map").css("height", window_height - navbar_height - footer_height + "px");
        }

        //DESTINY MARKER SECTION

        var destiny_helper_marker = null;

        $('#destiny').change(function () {
            var campus_pk = $('#destiny').val();
            console.log(campus_pk);
            console.log(campus_list.length);
            switch (campus_pk) {
                    {% for campus in campus_list %}
                        case '{{ campus.pk }}':
                            for (var i = 0; i < campus_list.length; i++) {
                                console.log("pk" + campus_list[i].pk);
                                if (campus_list[i].pk == {{ campus.pk }}) {
                                    latLng = new google.maps.LatLng({
                                        lat: Number(campus_list[i].latitude),
                                        lng: Number(campus_list[i].longitude)
                                    });
                                    console.log("latitud: " + campus_list[i].latitude);
                                    console.log("longitud: " + campus_list[i].longitude);
                                    destiny_helper_marker = new google.maps.Marker({
                                        position: latLng,
                                        map: map,
                                        label: {
                                            color: 'black',
                                            fontWeight: 'bold',
                                            text: 'Destino'
                                        },
                                        icon: {
                                            url: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                                            labelOrigin: new google.maps.Point(11, 40)
                                        }
                                    });
                                    map.setCenter(latLng);
                                }
                            }
                            break;
                    {% endfor %}
                default:
                    break;
            }
        });

    </script>

{% endblock %}