{% extends 'Base/base_app.html' %}
{% load static %}
{% block content_main %}
    <div class="row">
        <div class="12u">
            <section class="box">
                <h3>Mis rutas</h3>
                <a href="{% url 'Panel:Panel' %}" class="button small">Atr&aacute;s</a>
                <br><br>
                {% if routes %}
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Origen de referencia</th>
                                <th>Hora de inicio</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for route in routes %}
                                <tr>
                                    <td>{{ route.name }}</td>
                                    <td>{{ route.origin }}</td>
                                    <td>{{ route.start_time }}</td>
                                    <td><a href="{% url 'Panel:Route' route.pk %}"><i class="fa fa-pencil"
                                                                                         aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h3>No tienes rutas creadas, <a href="{% url 'Register:RegisterRoute' %}">¡Crea una!</a></h3>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}