{% extends 'Base/base_app.html' %}
{% load static %}

{% block content_main %}
    <div class="row">
        <div class="6u 12u(narrower)">

            <section class="box special">
                    <span class="image featured"><img src="{% static 'images/panel/notifications.png' %}"
                                                      alt=""/></span>
                <h4>Solicitudes pendientes</h4>
                <p style="font-size: 18px">Aqu&iacute; podr&aacute;s ver las solicitudes de avent&oacute;n pendientes en tus rutas</p>
                <ul class="actions">
                    <li><a href="{% url 'Panel:Notifications' %}" class="button alt">Ver solicitudes</a></li>
                </ul>
            </section>

        </div>
        <div class="6u 12u(narrower)">

            <section class="box special">
                    <span class="image featured"><img src="{% static 'images/panel/driver/route.png' %}"
                                                      alt=""/></span>
                <h4>Rutas disponibles</h4>
                <p style="font-size: 18px">Puedes ver las rutas registradas en Blur City</p>
                <ul class="actions">
                    <li><a href="{% url 'Panel:RouteList' %}" class="button alt">Ver rutas</a></li>
                </ul>
            </section>

        </div>
    </div>
{% endblock %}