{% extends 'Base/base_app.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content_main %}
    <div class="row">
        <div class="12u">

            <!-- Form -->
            <section class="box">
                <h3>Registro</h3>
                <form id="singUpForm" method="post" action="{% url 'Register:RegisterUser' %}">
                    {% if errors %}
                        <div class="row uniform 50%">
                            <div class="12u 12u(mobilep)">
                                {% for error in errors %}
                                    <p style="color: red">*{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if created %}
                        <div class="row uniform 50%">
                            <div class="12u 12u(mobilep)">
                                <p style="color: green">¡Registro exitoso! <a
                                        href="{% url 'Authentication:ChoiceLogin' %}">Inicia sesi&oacute;n</a></p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row uniform 50%">
                        <div class="4u 12u(mobilep)">
                            <input type="text" name="first_name" id="first_name" value="" placeholder="Nombres"/>
                        </div>
                        <div class="4u 12u(mobilep)">
                            <input type="text" name="last_name" id="last_name" value="" placeholder="Apellidos"/>
                        </div>
                        <div class="4u 12u(mobilep)">
                            <input type="email" name="email" id="email" value="" placeholder="Correo electrónico"/>
                        </div>
                    </div>
                    <div class="row uniform 50%">
                        <div class="6u">
                            <div class="select-wrapper">
                                <select name="university" id="university">
                                    <option disabled>- Universidad -</option>
                                    {% for university in universitys %}
                                        <option value="{{ university.pk }}">{{ university.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="6u">
                            <div class="select-wrapper">
                                <select name="major" id="major">
                                    <option disabled>Licenciatura</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row uniform 50%">
                        <div class="6u 12u(mobilep)">
                            <input type="password" name="password" id="contrasena" value="" placeholder="Contraseña"/>
                        </div>
                        <div class="6u 12u(mobilep)">
                            <input type="password" name="password2" id="contrasena2" value=""
                                   placeholder="Confirmar contraseña"/>
                        </div>
                    </div>
                    <div class="row uniform">
                        <div class="12u">
                            <ul class="actions">
                                <li><input id="register-btn" type="button" value="Registrarse"/></li>
                            </ul>
                        </div>
                    </div>
                </form>

                <hr/>
            </section>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>

        {% if created %}
            setTimeout(function () {
                swal({
                            title: "Correcto",
                            text: "Te has registrado con éxito",
                            type: "success",
                            confirmButtonText: "Iniciar sesión",
                            closeOnConfirm: false
                        },
                        function () {
                            window.location.href = "/authentication/choice_login_type";
                        });
            }, 2000);
        {% endif %}

        $("#university").change(function () {
            getCampus();
        });

        setTimeout(function () {
            getCampus();
        }, 500);

        function getCampus() {
            var university_pk = $("#university").val();
            $.ajax({
                url: '/administration/get_majors_from_university/',  //Server script to process data
                type: 'post',
                success: function (data) {
                    if (data != 0) {
                        console.log(JSON.parse(data));
                        var major_select = $("#major");

                        major_select.find('option')
                                .remove()
                                .end();

                        major_select.append($('<option disabled>', {
                            value: 1,
                            text: 'Licenciatura'
                        }));
                        console.log(data);
                        $.each(JSON.parse(data), function (i, item) {
                            major_select.append($('<option>', {
                                value: item.pk,
                                text: item.fields.name
                            }));
                        });
                    } else {
                        //sweetAlert("Error", "Hubo un error cargar la lista de licenciaturas, intenta de nuevo", "error");
                    }
                },
                error: function (message) {
                    console.log(message);
                },
                // Form data
                data: {
                    'university_pk': university_pk
                }
            });
        }

        function validateForm() {
            var form = $('#singUpForm');

            var name = $('#first_name').val();
            var last_name = $('#last_name').val();
            var email = $('#correo').val();
            var password_1 = $('#contrasena').val();
            var password_2 = $('#contrasena2').val();

            if (name != "" && last_name != "" && email != "" && password_1 != "" && password_2 != "") {
                if (password_1 == password_2) {
                    form.submit();
                } else {
                    swal(
                            {
                                title: "Disculpa",
                                text: "Parece que tus contraseñas no coinciden, verifica los datos",
                                type: "error",
                                confirmButtonText: "Entendido",
                                confirmButtonColor: "#F44336"
                            }
                    );
                }
            } else {
                swal(
                        {
                            title: "Disculpa",
                            text: "Parece que no has llenado todos los campos, por favor llena todos los campos para continuar",
                            type: "error",
                            confirmButtonText: "Entendido",
                            confirmButtonColor: "#F44336"
                        }
                );
            }
        }

        $('#register-btn').on("click", function () {
            validateForm();
        });
    </script>

{% endblock %}