{% extends 'Base/base_app.html' %}
{% load static %}

{% block content_main %}
    <div class="row">
        <div class="12u">

            <!-- Form -->
            <section class="box">
                <h3>Registro</h3>
                <a href="{% url 'Panel:Panel' %}" class="button small">Atr&aacute;s</a>
                <br><br>
                <form id="singUpForm" method="post" action="{% url 'Register:RegisterCar' %}"
                      enctype="multipart/form-data">
                    {% if errors %}
                        <div class="row uniform 50%">
                            <div class="12u 12u(mobilep)">
                                {% for error in errors %}
                                    <p style="color: red">*{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if created %}
                        <div class="row uniform 50%">
                            <div class="12u 12u(mobilep)">
                                <p style="color: green">¡Registro exitoso! <a
                                        href="{% url 'Authentication:ChoiceLogin' %}">Inicia sesi&oacute;n</a></p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row uniform 50%">
                        <div class="4u 12u(mobilep)">
                            <input type="text" name="brand" id="brand" value="" placeholder="Marca"/>
                        </div>
                        <div class="4u 12u(mobilep)">
                            <input type="text" name="model" id="model" value="" placeholder="Modelo"/>
                        </div>
                        <div class="4u 12u(mobilep)">
                            <input type="text" name="registration_tag" id="registration_tag" value=""
                                   placeholder="Matrícula"/>
                        </div>
                    </div>
                    <div class="row uniform 50%">
                        <div class="4u">
                            <input type="text" name="color" id="color" value="" placeholder="Color"/>
                        </div>
                        <div class="4u" style="display: -webkit-inline-box;">
                            <label for="total_sits">Espacios</label> &nbsp;
                            <input type="number" min="1" max="6" name="total_sits" id="total_sits" value=""/>
                        </div>
                    </div>
                    <div class="row uniform 50%">
                        <div class="4u 12u(mobilep)" align="center">
                            <input type="file" name="insurance_policy" id="insurance_policy" style="display: none;">
                            <input type="button" onclick="document.getElementById('insurance_policy').click();"
                                   class="button special icon fa-search" value="Poliza de seguro">
                            <br>
                            <span class="image fit" style="margin-top: 10px"><img id="insurance_policy_preview" src=""
                                                                                  alt=""/></span>
                        </div>
                        <div class="4u 12u(mobilep)" align="center">
                            <input type="file" name="circulation_card" id="circulation_card" style="display: none;">
                            <input type="button" onclick="document.getElementById('circulation_card').click();"
                                   class="button special icon fa-search" value="Tarjeta de circulación">
                            <br>
                            <span class="image fit" style="margin-top: 10px"><img id="circulation_car_preview" src=""
                                                                                  alt=""/></span>
                        </div>
                        <div class="4u 12u(mobilep)" align="center">
                            <input type="file" name="licence" id="licence" style="display: none;">
                            <input type="button" onclick="document.getElementById('licence').click();"
                                   class="button special icon fa-search" value="Licencia">
                            <br>
                            <span class="image fit" style="margin-top: 10px"><img id="licence_preview" src=""
                                                                                  alt=""/></span>
                        </div>
                    </div>
                    <div class="row uniform">
                        <div class="12u" align="center">
                            <ul class="actions">
                                <li><a href="{% url 'Panel:Panel' %}" class="button">Cancelar</a></li>
                                <li><input id="register-btn" class="button special" type="submit" value="Registrar"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>

                <hr/>
            </section>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $("#total_sits").focusout(function () {
            var total_sits = $("#total_sits").val();

           if(total_sits < 1 || total_sits > 6){
               $("#total_sits").val(1);
               sweetAlert("Error", "Solo puedes colocar números en el rando del 1 al 6", "error");
           }
        });

        function readURL(input, img_src) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    if (img_src == "insurance_policy") {
                        $('#insurance_policy_preview').attr('src', e.target.result);
                    }

                    if (img_src == "circulation_card") {
                        $('#circulation_car_preview').attr('src', e.target.result);
                    }

                    if (img_src == "licence") {
                        $('#licence_preview').attr('src', e.target.result);
                    }
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#insurance_policy").change(function () {
            readURL(this, "insurance_policy");
        });

        $("#circulation_card").change(function () {
            readURL(this, "circulation_card");
            console.log("circulation card");
        });

        $("#licence").change(function () {
            readURL(this, "licence");
        });

        var car_registered = '{{ car_registered }}';

        if (car_registered == 'correct') {
            setTimeout(function () {
                sweetAlert("Correcto", "¡Automovil registrado correctamente!", "success");
            }, 500)
        }

    </script>


{% endblock %}