{% extends 'Base/base_section.html' %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/register.css' %}"/>

{% endblock %}

{% block content %}

    <div class="main">
        <div class="row" style="margin: 0">
            <div class="container">
                <br><br>
                <a href="{% url 'Panel:Panel' %}" class="btn waves-effect blue light-blue">Regresar</a>
                <form class="col s12 form-margin z-depth-3" action="{% url 'Register:RegisterCar' %}" method="post"
                      enctype="multipart/form-data" style="padding: 0">
                    <div class="register-car-form">
                        <h4>Registrar aut&oacute;movil</h4> <br>
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="model" name="model" type="text" class="validate">
                                <label for="model">Modelo</label>
                            </div>
                            <div class="input-field col s4">
                                <input name="brand" id="brand" type="text" class="validate">
                                <label for="brand">Marca</label>
                            </div>
                            <div class="input-field col s4">
                                <input name="registration_tag" id="registration_tag" type="text" class="validate">
                                <label for="registration_tag">Matr&iacute;cula</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s3"></div>
                            <div class="input-field col s3">
                                <input name="color" id="color" type="text" class="validate">
                                <label for="color">Color</label>
                            </div>
                            <div class="input-field col s3">
                                <input name="total_sits" id="total_sits" type="number" class="validate">
                                <label for="total_sits">Espacios Disponibles</label>
                            </div>
                            <div class="input-field col s3"></div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <p>Poliza de Seguro</p>
                                <div class="file-field input-field">
                                    <div class="btn light-blue">
                                        <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                        <input name="insurance_policy" id="insurance_policy" type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                                <img class="responsive-img" id="insurance_policy_preview" src="">
                            </div>
                            <div class="input-field col s4">
                                <div class="file-field input-field">
                                    <p>Tarjeta de Circulaci&oacute;n</p>
                                    <div class="btn light-blue">
                                        <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                        <input name="circulation_card" id="circulation_car" type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                                <img class="responsive-img" id="circulation_car_preview" src="">
                            </div>
                            <div class="input-field col s4">
                                <p>Licencia</p>
                                <div class="file-field input-field">
                                    <div class="btn light-blue">
                                        <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                        <input name="licence" id="licence" type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                                <img class="responsive-img" id="licence_preview" src="">
                            </div>
                        </div>
                        <div class="row" align="center">
                            <br>
                            <input class="btn waves-effect green" type="submit" name="registrar" value="Registrar">
                            &nbsp;&nbsp;
                            <a href="<?php echo DRIVER_INDEX?>" class="btn waves-effect red">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>
        function readURL(input, img_src) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    if (img_src == "insurance_policy") {
                        $('#insurance_policy_preview').attr('src', e.target.result);
                    }

                    if (img_src == "circulation_card") {
                        $('#circulation_car_preview').attr('src', e.target.result);
                    }

                    if (img_src == "licence") {
                        $('#licence_preview').attr('src', e.target.result);
                    }
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#insurance_policy").change(function () {
            readURL(this, "insurance_policy");
        });

        $("#circulation_car").change(function () {
            readURL(this, "circulation_card");
        });

        $("#licence").change(function () {
            readURL(this, "licence");
        });

        var car_registered = '{{ car_registered }}';

        if(car_registered == 'correct'){
            Materialize.toast('¡Automovil registrado correctamente!', 10000);
        }

    </script>

{% endblock %}