{% extends 'Base/base_section.html' %}

{% block content %}

    <div class="row">
        <div class="container">
            <form id="singUpForm" class="col s12" action="{% url 'Register:RegisterUser' %}" method="POST">
                <input type="hidden" value="1" name="registrar">
                <div class="form-container">
                    <div class="row">
                        <div class="col s12">
                            {% for error in errors %}
                                <p style="color: red">*{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m4">
                            <input id="first_name" name="first_name" type="text" class="validate" value="{{ first_name }}">
                            <label for="first_name">Nombre</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <input id="last_name" name="last_name" type="text" class="validate" value="{{ last_name }}">
                            <label for="last_name">Apellido</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <input id="correo" name="email" type="text" class="validate" value="{{ email }}">
                            <label for="correo">Correo electr&oacute;nico</label>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <div class="input-field col s12 m6">
                            <select name="university">

                                {% for university in universitys %}
                                    <option value="{{ university.name }}">{{ university.name }}</option>
                                {% endfor %}

                            </select>
                            <label>Universidad</label>
                        </div>

                        <div class="input-field col s12 m6">
                            <select name="major">
                                {% for major in majors %}
                                    <option value="{{ major.name }}">{{ major.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Licenciatura</label>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <div class="input-field col s12 m6">
                            <input id="contrasena" name="password" type="password" class="validate">
                            <label for="contrasena">Contrase&ntilde;a</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="contrasena2" name="password2" type="password" class="validate">
                            <label for="contrasena2">Confirmar contrase&ntilde;a</label>
                        </div>
                    </div>
                    <div class="row" align="center">
                        <input id="register-btn" class="btn waves-effect" type="button" name="registrar"
                               style="background-color: #03A9F4" value="Registrarse"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
    <script>
        function validateForm() {
            var form = $('#singUpForm');

            var name = $('#first_name').val();
            var last_name = $('#last_name').val();
            var email = $('#correo').val();
            var password_1 = $('#contrasena').val();
            var password_2 = $('#contrasena2').val();

            if (name != "" && last_name != "" && email != "" && password_1 != "" && password_2 != "") {
                if (password_1 == password_2) {
                    form.submit();
                } else {
                    swal(
                            {
                                title: "Disculpa",
                                text: "Parece que tus contraseñas no coinciden, verifica los datos",
                                type: "error",
                                confirmButtonText: "Entendido",
                                confirmButtonColor: "#F44336"
                            }
                    );
                }
            } else {
                swal(
                        {
                            title: "Disculpa",
                            text: "Parece que no has llenado todos los campos, por favor llena todos los campos para continuar",
                            type: "error",
                            confirmButtonText: "Entendido",
                            confirmButtonColor: "#F44336"
                        }
                );
            }
        }

        $('#register-btn').on("click", function () {
            validateForm();
        });
    </script>

{% endblock %}