{% extends 'Base/base_app.html' %}
{% load static %}
{% block title %}Unirse a BlurCity{% endblock %}
{% block content_main %}
    <header>
        <h2>¿C&oacute;mo formar parte de BlurCity?</h2>
        <p>Solo siga los siguientes pasos</p>
    </header>

    <div class="row">
        <div class="7u 12u(narrower)">

            <section class="box special">
                <h3 style="text-align: left">1.- &Uacute;nete a BlurCity como universidad</h3>
                <p style="text-align: left">
                    Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu
                    Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu
                </p>
                <h3 style="text-align: left">2.- Registra tus instituciones una vez que formes parte de BlurCity</h3>
                <p style="text-align: left">
                    Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu
                    Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu
                </p>
                <h3 style="text-align: left">3.- Valida los usuarios pertenecientes a tu Universidad</h3>
                <p style="text-align: left">
                    Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu
                    Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu Loremp ipsu
                </p>
            </section>

        </div>
        <div class="5u 12u(narrower)">

            <section class="box special">
                <h3>Cont&aacute;ctanos</h3>
                <p></p>
            </section>

        </div>
    </div>

{% endblock %}