{% extends 'Base/base_section.html' %}

{% block content %}


    <div id="main" class="row choice-background" style="margin: 0">
        <div class="container">
            <div class="form-login-container">
                <form class="col s12" action="<?php echo LOGIN_CALL ?>" method="post">
                    <input type="hidden" name="loginType" value="<?php echo $_GET['type']?>">
                    <input type="hidden" value="1" name="iniciar">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" name="correo" class="validate">
                            <label for="email">Correo electr&oacute;nico</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="password" name="contrasena" class="validate">
                            <label for="email">Contrase&ntilde;a</label>
                        </div>
                    </div>
                    <div class="row" align="center">
                        <input class="waves-effect light-blue btn" type="submit" value="Iniciar Sesión">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}