{% extends 'Base/base_app.html' %}
{% load static %}

{% block content_main %}
    <div class="row">
        <div class="12u">
            <section class="box">
                <h3>Mis autom&oacute;viles</h3>
                <a href="{% url 'Panel:Panel' %}" class="button small">Atr&aacute;s</a>
                <br><br>
                {% if cars %}
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                            <tr>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Matr&iacute;cula</th>
                                <th>Color</th>
                                <th>Espacios</th>
                                <th>Poliza de seguro</th>
                                <th>Licencia</th>
                                <th>Tarjeta de circulación</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for car in cars %}
                                <tr>
                                    <td>{{ car.brand }}</td>
                                    <td>{{ car.model }}</td>
                                    <td>{{ car.registration_tag }}</td>
                                    <td>{{ car.color }}</td>
                                    <td>{{ car.total_sits }}</td>
                                    {% for document in cars_documents %}
                                        {% if document.car == car %}
                                            <td><a target="_blank" href="/{{ document.insurance_policy }}">Ver</a></td>
                                            <td><a target="_blank" href="/{{ document.licence }}">Ver</a></td>
                                            <td><a target="_blank" href="/{{ document.circulation_card }}">Ver</a></td>
                                        {% endif %}
                                    {% endfor %}
                                    <td><a href="{% url 'Register:EditCar' car.pk %}"><i class="fa fa-pencil"
                                                                                         aria-hidden="true"></i></a>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h3>No tienes registrados autom&oacute;viles, <a href="{% url 'Register:RegisterCar' %}">¡Registra
                        uno!</a></h3>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}