{% extends 'Base/base_section.html' %}
{% load static %}

{% block content %}

    <div class="main">

        <div class="row">
            <div class="container">
                <div class="list-container">

                    <a class="waves-effect green btn" href="{% url 'Panel:Panel' %}">Atr&aacute;s</a> <br><br>

                    {% if cars %}
                        <ul class="collection">

                            {% for car in cars %}

                                <li class="collection-item avatar">
                                    <i class="fa fa-car circle light-blue lighten-2" aria-hidden="true"></i>
                                    <span class="title">{{ car.brand }} - {{ car.model }}</span>
                                    <p class="text-car">
                                        Matricula: {{ car.registration_tag }}<br>
                                        Color: {{ car.color }}<br>
                                        Espacios: {{ car.total_sits }}<br><br>
                                        <a class="modal-trigger waves-effect blue accent-2 btn"
                                           href="#insurance_policy_{{ car.pk }}">Poliza de seguro <i
                                                class="fa fa-eye" aria-hidden="true"></i></a> &nbsp;
                                        <a class="modal-trigger waves-effect blue accent-2 btn"
                                           href="#licence_{{ car.pk }}">Licencia <i class="fa fa-eye"
                                                                                    aria-hidden="true"></i></a>
                                        &nbsp;
                                        <a class="modal-trigger waves-effect blue accent-2 btn"
                                           href="#circulation_card_{{ car.pk }}">Tarjeta de circulaci&oacute;n <i
                                                class="fa fa-eye" aria-hidden="true"></i></a>
                                    </p>
                                    <a href="#!" class="secondary-content"><i class="fa fa-pencil"
                                                                              aria-hidden="true"></i></a>
                                </li>

                                {% for document in cars_documents %}
                                    {% if document.car == car %}
                                        <div id="insurance_policy_{{ car.pk }}" class="modal">
                                            <div class="modal-content" align="center">
                                                <img src="/{{ document.insurance_policy }}"
                                                     class="responsive-img">
                                            </div>
                                            <div class="modal-footer">
                                                <a href="#!"
                                                   class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                                            </div>
                                        </div>
                                        <div id="licence_{{ car.pk }}" class="modal">
                                            <div class="modal-content" align="center">
                                                <img src="/{{ document.licence }}">
                                            </div>
                                            <div class="modal-footer">
                                                <a href="#!"
                                                   class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                                            </div>
                                        </div>
                                        <div id="circulation_card_{{ car.pk }}" class="modal">
                                            <div class="modal-content" align="center">
                                                <img src="/{{ document.circulation_card }}"
                                                     class="responsive-img">
                                            </div>
                                            <div class="modal-footer">
                                                <a href="#!"
                                                   class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            {% endfor %}

                        </ul>
                    {% else %}
                        <p>No se tienen autom&oacute;viles registrados aún <a href="{% url 'Register:RegisterCar' %}">¡Registra uno!</a></p>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}

    <script>
        var window_height = $(window).height();
        var main_content_height = $(".main").height();

        if (window_height > main_content_height) {
            var navbar_height = $("#navbar").height();
            var footer_height = $("#footer").height();

            $(".main").css("height", window_height - navbar_height - footer_height + "px");
        }

        $(document).ready(function () {
            $('.modal-trigger').leanModal();
        });

    </script>

{% endblock %}