{% extends 'Base/base_app.html' %}
{% load static %}
{% block title %}Panel{% endblock %}
{% block content_main %}
    <div class="row">

        <div class="12u 12u(narrower" align="center">
            <!-- Banner -->
            <section>
                <h2>Bienvenido {{ user.first_name }} {{ user.last_name }}</h2>
            </section>
        </div>


    </div>

    <div class="row">
        <div class="6u 12u(narrower)">

            <section class="box special">
                    <span class="image featured"><img src="{% static 'images/panel/driver/register_car.jpg' %}"
                                                      alt=""/></span>
                <h4>Registrar aut&oacute;movil</h4>
                <p style="font-size: 18px">Para poder conducir en <span class="logo-color">Blur City</span> es necesario
                    registrar un automovil</p>
                <ul class="actions">
                    <li><a href="{% url 'Register:RegisterCar' %}" class="button alt">Registrar auto</a></li>
                </ul>
            </section>

        </div>
        <div class="6u 12u(narrower)">

            <section class="box special">
                    <span class="image featured"><img src="{% static 'images/panel/driver/cars_registered.jpg' %}"
                                                      alt=""/></span>
                <h4>Autom&oacute;viles registrados</h4>
                <p style="font-size: 18px">Lista de tus autos registrados en <span class="logo-color">Blur City</span>
                </p>
                <ul class="actions">
                    <li><a href="{% url 'Panel:CarList' %}" class="button alt">Ver mis autom&oacute;viles</a></li>
                </ul>
            </section>

        </div>
    </div>
    <div class="row">
        <div class="6u 12u(narrower)">

            <section class="box special">
                    <span class="image featured"><img src="{% static 'images/panel/driver/draw_route.jpg' %}"
                                                      alt=""/></span>
                <h4>Trazar nueva ruta</h4>
                <p style="font-size: 18px">Crea una nueva ruta visible para los usuarios de <span
                        class="logo-color">Blur City</span></p>
                <ul class="actions">
                    <li><a href="{% url 'Register:RegisterRoute' %}" class="button alt">Crear nueva ruta</a></li>
                </ul>
            </section>

        </div>
        <div class="6u 12u(narrower)">

            <section class="box special">
                    <span class="image featured"><img src="{% static 'images/panel/driver/route.png' %}"
                                                      alt=""/></span>
                <h4>Rutas disponibles</h4>
                <p style="font-size: 18px">Puedes ver tus rutas registradas en <span class="logo-color">Blur City</span>
                </p>
                <ul class="actions">
                    <li><a href="{% url 'Panel:RouteList' %}" class="button alt">Ver rutas</a></li>
                </ul>
            </section>

        </div>
    </div>
    <div class="row">
        <div class="6u 12u(narrower)">

            <section class="box special">
                    <span class="image featured"><img src="{% static 'images/panel/notifications.png' %}"
                                                      alt=""/></span>
                <h4>Solicitudes pendientes</h4>
                <p style="font-size: 18px">Aqu&iacute; podr&aacute;s ver las solicitudes de avent&oacute;n pendientes en
                    tus rutas</p>
                <ul class="actions">
                    <li><a href="{% url 'Panel:Notifications' %}" class="button alt">Ver solicitudes</a></li>
                </ul>
            </section>

        </div>
    </div>
{% endblock %}